# Add this to Github Actions Environment in repo
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1
OPENWEATHER_API_KEY=
MAIL_SMTP_SERVER=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_TO=

# For Development
API_ENDPOINT=https://api.openweathermap.org
API_KEY=